<md-toolbar>
  <span>First Row</span>

  <md-toolbar-row>
    <span>Second Row</span>
  </md-toolbar-row>

  <md-toolbar-row>
    <span>Third Row</span>
  </md-toolbar-row>
</md-toolbar>



<br>Server {{serverId}} is {{serverStatus}}<br>

Server status is {{getServerStatus()}}<br>

<br>
<button class="btn btn-primary" [disabled] = "!allowNewServer" (click)="onServerCreation()">Add Server</button><br>
{{serverCreationStatus}}<br>

<!--use string interpolation when to print-->
{{allowNewServer}}<br>

<!--use property binding when this kind of functionality needed -->
<p [innerText] = "allowNewServer"></p><br>


<input type="text" class="form-control" (input)="onUpdateServer($event)">
{{eventMessage}}


<p *ngIf="isServerAdded">DONE</p>
